@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#mediaList {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.bingPost {

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bingPost img {
    
}

.postUserInfo {
    height: 3rem;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.postUserInfo b, span {
    margin: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

header
{
    padding: 0.5rem;
}
.primaryBtn {
    
}

.editBtn {

}